{
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "6"
            }
          }
        ]
      ]
    },
    "development": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "6"
            },
            "modules": false
          }
        ]
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "6"
            },
            "modules": false
          }
        ]
      ]
    }
  }
}