version: 2

repo:
  public: node-client-sdk
  private: node-client-sdk-private

publications:
  - url: https://www.npmjs.com/package/launchdarkly-node-client-sdk
    description: npm

jobs:
  - docker:
      image: node:14-buster
    template:
      name: npm

documentation:
  gitHubPages: true
  title: LaunchDarkly Client-Side Node SDK

sdk:
  displayName: "Node.js (client-side)"
